<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    *{
  margin:0;
  padding:0;

}

.container{
  height: 100vh;
  width: 100%;
  background-image: url(https://www.thefire.org/sites/default/files/styles/1200x630/public/2021/07/15124852/Letstalk_feature.jpg?h=252f27fa&itok=Ch22pICJ);
  backgroung-size: cover;
  background-position: relative;
  position: relative;

}






</style>
<body>
<div class="container">


</div>



</body>
</html>